.section {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.section-one {
  background-color: #ffffff;
  width: 30%;
  padding: 1rem 1rem;
  border-radius: 20px;
}
.drop-container {
  margin-bottom: 10px;
}
.p-intro {
  margin-top: 10px;
  margin-bottom: 15px;
}

.section-two {
  background-color: #b9b9b9;
  width: 40%;
  border-radius: 20px;
  text-align: center;
}
